<a href="#" class="connect" target='_blank'>Connect with SoundCloud</a>
<p>Hello, your name is <span id="username"></span></p>

        <a href="#" id="start">Start</a>
        <a href="#" id="stop">Stop</a>

	<div id="player">
	<img src='#'>
<span></span>
</div>

<ul id="results">      
</ul>