
<!-- SWIPE -->
<section>
  <div class="row">
    <div class="nav ta-nd">
      <i class="fa fa-user fa-lg whiteicon"></i></i>
    </div>
  </div>


  <div class="row">
    <div class="span_6 bgc-pr fl-st fullheight ta-c">
     <h2 class="c-g">LIKE</h2>
   </div>

   <div class="span_6 bgc-ac fl-st fullheight ta-c">
    <h2 class="c-g">DISLIKE</h2>
  </div>
</div>
</section>


<!-- LOGIN -->
<section>
  <div class="row">
    <div class="nav ta-nd">
      <i class="fa fa-user fa-lg whiteicon"></i></i>
    </div>
  </div>
  <div class="signin bgc-pr">
    <div class="center">
      <i class="c-g fa fa-soundcloud fa-5x"></i>
      <h2 class="c-g ta-c">Login</h2>
    </div>
  </div>
</section>


<!-- RESULT -->
<section>

  <div class="signin bgc-b">
    <div>
      <img src="../../assets/images/1.jpg">
    </div>
  </div>

</section>
